<div class="auth-container">
  <div class="auth-card">
    <h2>Inscription</h2>
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Nom :</label>
        <input type="text" id="name" formControlName="name">
        <div *ngIf="signupForm.get('name')?.invalid && signupForm.get('name')?.touched" class="error-message">
          Le nom est requis.
        </div>
      </div>

      <div class="form-group">
        <label for="email">Email :</label>
        <input type="email" id="email" formControlName="email">
        <div *ngIf="signupForm.get('email')?.invalid && signupForm.get('email')?.touched" class="error-message">
          Un email valide est requis.
        </div>
      </div>

      <div class="form-group">
        <label for="password">Mot de passe :</label>
        <input type="password" id="password" formControlName="password">
        <div *ngIf="signupForm.get('password')?.invalid && signupForm.get('password')?.touched" class="error-message">
          Le mot de passe doit contenir au moins 6 caractères.
        </div>
      </div>

      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>

      <button type="submit" [disabled]="signupForm.invalid">S'inscrire</button>
      <p class="switch-auth">Déjà un compte ? <a routerLink="/login">Connectez-vous</a></p>
    </form>
  </div>
</div>
